.iconErrorLogin{
    margin-left: 45%;
    font-size:2000%;
    color: #0c388a;
}
.texerror {
    font-size: 200% !important;
}
.ButonLogin{
    margin-left: 50%;
    background-color: #1d64e9 !important;
  
   padding: 10px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
    color: #fff !important;
   border-radius: 10px;
   display: block;
}
