.divErrorBodiCradGift {

   height: 305px;

}



    .gifLoadingcard{
        width:20%;
        height: 25%;
        //margin-left: auto;
        //margin-right: auto;
        opacity: 0.2;
        margin-bottom: auto;
        margin-top: auto;
    }


