.logoblueSmile{
    width: 50%;
    height: 100%;
    margin-left: 3%;
}

footer.bg-light.text-center.text-lg-start.footer-bule {
    background-color: #1D3582 !important;
    margin-top: 15%;
    text-transform:capitalize;
    text-decoration-color: black;

  

}
.footer-bule{
    color: white;
    height: 20%;
}