.encabesadoInfo{
    height: 200px !important;
   
    background-color: #1D3582;
    
}



.L {
    margin-left: 2%!important;
}
.r{
    width: 98%;
}
.ibmLogo{
    height: 20%;
    width: 40%;

}

.huaweiLogo{
    height: 6%;
    width: 12%;
}
.awsLogo{
    height: 8%;
    width: 14%;
}
.redHatiLogo{
    height:15%;
    width: 30%;
}
.logosFooter{
 
}
.bigCard{
    width: 100%;
}
.logoBlue{
    margin-left: auto;
    margin-right: auto;
    display: block; 
    height: 90%;
    width: 90%;
    //position:absolute;
  
    
    

}