.inventoryTitle{
    color: black;
    
}

.itemtest{
    display: none;
}
.description{

    width: 20%;
}
.swal2-confirm {
    display: none !important;
}


/*.portBtn{
    background-color: #1d7de9 !important;
    color: aliceblue;
}*/


//.portBtn {background-image: linear-gradient(to right, #1db5e9 0%, #1d64e9  51%, #1db5e9  100%)}
.portBtn {
background-color: #009EE3 !important;
   margin: 10px;
   padding: 10px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
    color: #EBF9FF !important;
   border-radius: 10px;
   display: block;
 }
/*.portBtn:hover {
   background-position: right center; /* change the direction of the change here */
   /*color: #fff;
   text-decoration: none;
 }*/

/*@media screen and (max-width: 600px) {
    #table{
        margin-left: 2%;
        margin-right: 2%;
    }
    .DESCRIPTION{
        width: 20%;
       
       }
    table {
        width:95%;
    }
    thead {
        display: NONE;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}*/
