/*.navbar-wrapper{
    display: none;
}
nav.pcoded-navbar.menu-light.navbar-default.brand-default.drp-icon-style1.menu-item-icon-style1.active-default.title-default{
    display: none;
}
.ul.navbar-nav.mr-auto{
    display: none;
}
header.navbar.pcoded-header.navbar-expand-lg.header-default {
    display: none;
}*/
/*
$opacity:.5;

$position:relative;


.logo-singin{
   // height: 50% !important;
}
.logoblue1Sing{
 height: 50% !important;
    width: % !important;
    /*display:block;
margin:auto;*/
/*
}
.logoblue2{
    height: 10% !important;
    width: 20% !important;

}

.page-header {
  
    color: rgb(255, 255, 255);
    position: relative;
   
    overflow: hidden;
}
.clear-filter[filter-color="blue"] {
    background: linear-gradient(0deg, rgba(159, 228, 255, 0.6), rgba(3, 161, 224, 0.78));
    background-image: linear-gradient(0deg, rgba(159, 228, 255, 0.6), rgba(3, 161, 224, 0.78));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.page-header {
    color: rgb(255, 255, 255);
   

    overflow: hidden;
}
.page-header-image{
   
    /*background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;*/
    /*
}
.page-header-image{
   
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/fondo-network.png") center/cover;
        opacity: $opacity;
    }
    
}
.cr{
    color: black;

}

.logo-singin{
height: 1000px;
}

.sapace{
    height: 50%;
}
*/
$opacity:.5;

.clear-filter[filter-color="blue"] {
    background: linear-gradient(0deg, rgba(159, 228, 255, 0.6), rgba(3, 161, 224, 0.78));
    background-image: linear-gradient(0deg, rgba(159, 228, 255, 0.6), rgba(3, 161, 224, 0.78));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.page-header-image{
   
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/fondo-network.webp") center/cover;
        opacity: $opacity;
    }
    
}
.logo-singin{
  
}

.logoblue1Sing{
    height: 100%;
    width: 100%;
    
    display:block;
margin:auto;
}
.container{
    position: relative;
}


.auth-wrapper .auth-content {
   
    width: 450px !important;
   
    
}

.Stay{
    padding-left:10px;
}

