/*.row.row-menu2.row {
    margin-left: 0%;
}
.row.row-menu1.row {
    margin-left: 0%;
}*/
.rowmenu.row {
    margin-left: 0% !important;
}
.search-input{

    border-radius: 1% !important;
}


.p-1.bigColMap.col {
    padding-left: 2px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-right: 9px !important;
}
.p-1.queryCol.col {
    padding-right: 19px !important;
}
.packageRow.row {
    padding-top: 4px;
}  