.white-color {
    color: white !important;
}
.site{
    font-size:17px;
}
.cpu-temp {
    font-size: 15px;
}
.graph-button {
    font-size: 1.25rem !important;
}
.solve-button {
    font-size: 1rem !important;
}
.stream3-sites-container{
    display: inline-flex;
    width: 100%;
    background: #132743;
    color: white;
}
.stream3-sites-container h5 {
    color: white;
}
.stream3-site-container {
    width: inherit;
}
.stream3-site {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5%;
    margin: 8%;
}