th{
    text-transform: uppercase;
    width: 20%;
}
#table{
    margin-left: auto;
    margin-right: auto;
    
    
}

#table {
    //width:66%;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color:#1D3582!important;
}
.even >td {
    color: #1D3582 !important;
}
table.dataTable tbody tr {
    background-color: #EBF9FF;
}
.odd  td >button {
    background-color : #EBF9FF !important;
}
.table-dark{
    background-color: #1D3582 !important;
}