.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: inline-flex;
  text-align: center;
  margin: 0%;
}

.leaflet-popup-pane,
.leaflet-control {
  width: 100%;
}
.leaflet-control-layers-overlays {
  padding-left: 8px;
  color: #888;
}
.leaflet-container{
    margin-top: 5px ;
  }
.leaflet-touch .leaflet-bar {
  z-index: 999;

  height: auto;
}
.leaflet-control-layers-expanded {
  color: #888;
  padding: 0;
  background: none;
  box-shadow: none;
}
.leaflet-control-layers-base {
  padding: 0;
  margin: 0;
}
.geojson-filter.leaflet-control.leaflet-bar {
  overflow-y: auto;
  height: 85vh;
  background-color: #ffffff;
}

.form-check-input1 {
  font-size: 10px;
  margin-left: 10px;
}
.geojson-filter fieldset {
  padding-left: 10px;
}
fieldset legend {
  font-size: 15px;
}
fieldset button {
  margin: 2px;
  border: 1px solid;
  border-radius: 15%;
  background: rgb(124, 124, 124);
  color: #ffffff;
  font-size: 13px;
}
.rowmenu h7 {
  color: rgb(77, 77, 77);
}
.card-body h7 {
  color: rgb(77, 77, 77);
}
.card-body h6 {
  text-align: center;
  align-items: center;
  /* display: ce; */
}
input[type="checkbox"] {
  cursor: default;
  appearance: checkbox;
}
/* BUSCADORES */
#searchLayer {
  display: block;
  width: 100%;
  margin-top: -20px;
}
#searchSite {
  width: 100%;
  margin-top: -20px;
}

#searchLayer .leaflet-control-search input {
  display: inline-block !important;
}
#searchSite .leaflet-control-search input {
  display: inline-block !important;
}

.search-input {
  width: 100%;
  margin: 3px;
  border-radius: 20px;
  font-size: 12px !important;
  background: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  z-index: 1;
}
.leaflet-control-search .search-tooltip {
  position: absolute;
  /* margin: -8px -8px -8px; */
  top: 150%;
  left: 0;
  float: left;
  list-style: none;
  padding-left: 10px;
  min-width: 120px;
  max-height: 300px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.leaflet-control-search .search-cancel {
  display: block;
  /* width: 22px;
  height: 22px; */
  position: absolute;
  right: 5px;
  top: 5px;
  /* margin: 0px 0; */
  /* background: url(../assets/images/search-icon-mobile.png) no-repeat 0 -46px; */
  text-decoration: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.leaflet-control-search .search-cancel span {
  font-size: 20px;
  color: red;
}

/* POPUP CHART */
.chart-container {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}

.leaflet-popup-content {
  width: 100% !important;
  color: #ffffff;
}

.percent-text {
  fill: #888 !important;
}

.chart-container button {
  margin: 25px 10px;
  padding: 8px 22px;
  /* background: rgb(49, 56, 165); */
  /* background: linear-gradient(-135deg, #1d53e9 0%, #1dc4e9 100%); */
  background: linear-gradient(-135deg, #24e91d 0%, #5cdb62 100%);

  border-radius: 20px;
  color: #ffffff;
  border: none;
  font-size: 35px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.chart-container button:focus {
  outline: none;
  background: cornflowerblue;
}

#btHistory {
  font-size: 25px;
  margin-top: 0px;
}
#btLoop,
#btPesquisar {
  /* background: crimson; */
  /* background: linear-gradient(-135deg, #24e91d 0%, #5cdb62 100%);  */
  background: linear-gradient(-135deg, #1d53e9 0%, #1dc4e9 100%);
}
#btLoop:focus,
#btPesquisar:focus {
  background: rgb(243, 56, 56);
}
.leaflet-container a.leaflet-popup-close-button {
  font-size: 32px;
  margin-right: 3px;
  margin-top: 3px;
}
.gauge-container {
  margin-left: -10px;
}
.gauge-container #degreeh7 {
  display: block;
  position: absolute;
  margin-top: 120px;
  margin-left: 80px;
}
.gauge-container #CPUh7 {
  display: block;
  position: absolute;
  margin-top: 120px;
  margin-left: 270px;
}
/* ESTILO POPUP */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  /* background: #212121; */
  background: #132743;
  /* background: #637373; */
}
.devicePopup {
width: max-content;
}
.needle path,
circle,
h7 {
  fill: #ffffff;
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
center span {
  color: #ffffff;
}

/* border-radius: 15px;
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); */
canvas {
  /* width: 900px !important; */
}

.site {
  display: flex;
  position: absolute;
  font-size: 25px;
  color: #ffffff;
  margin-top: -30px;
  margin-left: 200px;
  padding: 0;
}
/* STILOS MENU CHART */
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  vertical-align: middle; */
}
h5 {
  text-align: center;
}
@media (max-width: 1000px) {
  .card .card-header .card-title {
    font-size: 12px;
  }
}

/*@media(max-width:280px) {

}*/
/* @media only screen and (min-width: 600px) {
  .embmap-not{
    width: 100% ;
  }
  canvas.chartjs-render-monitor {

    width: 300px !important;
    height: 150px !important;
}
} */