@media (min-width: 3000px) {
  .col-xxl {
    width: 12.5%;
    flex: 0 0 12.5% !important;
    float: left;
  }
}
@media (min-width: 3000px) {
  .col-xl5 {
    width: 20%;
    flex: 0 0 20% !important;
    float: left;
  }
}
