#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #react-paginate li {
    display: inline-block;
  }
  .title{
    color:black ;
  }
  .pagination {
    place-content: center;
    margin: 1.5rem;
  }
  .commentBox {
    width: 100%;
    text-align: center;
  }
  .pages-container {
    text-align:center;
  }
  .path-collapse-button {
    margin:1%;
  }
  .card-title {
    margin: .75rem !important;

  }
 