button.align-middle.clearAll.btn.btn-secondary {
    height: 10%;
    margin-top: 6%;
}
.botones.row {
  /*margin-left: 40%;*/
 
}
.Title{
  color:black;
}

button.align-middle.clear.btn.btn-secondary {
  padding:0.1%;
  height: 40px;
  width: 40px;
  font-size: 200%;

}
.form-control {
  background-color: white !important;
}
.btn-secondary{
  background-color: #1D3582 ;
}
.btn-primary{
  background-color: #009EE3 ;

}

@media(max-width:280pX) {
  .clear.btn.btn-secondary {
    MARGIN-LEFT: 77% !important;
    TOP: -39PX!important;
    POSITION: absolute!important;
   
}
.countenido{
  font-size: 9px !important;
}
.botones.row {
  margin-left: auto;
}
.css-2b097c-container{
  width:85%;
  
}
button.align-middle.clear.btn.btn-secondary {  
  padding:0.1%;
  height: 40px;
  width: 40px;
  font-size: 200%;
}
}
@media(min-width:282PX) and (max-width:500PX){
  button.align-middle.clear.btn.btn-secondary {
    MARGIN-LEFT: 70%;
    TOP: -39PX;
    POSITION: absolute;
    PADDING: 4%;
}
.countenido{
  font-size: 12px !important;
}
.botones.row {
  margin-left: auto;
}
.css-2b097c-container{
  width:70%;
  
}
button.align-middle.clear.btn.btn-secondary {  
  padding:0.1%;
  height: 40px;
  width: 40px;
  font-size: 200%;
}



}
@media(min-width:700PX)and (max-width:1200PX){
  button.align-middle.clear.btn.btn-secondary {
   
  
    POSITION: absolute;
    PADDING: 7%;
}
.botones.row {
  margin-left: auto;
}
.botones.row {
  margin-left: 35%;
}
button.align-middle.clear.btn.btn-secondary {

  padding: 1%;
  height: 35px;
  width: 35px;
  font-size: 150%;

}
}

@media(min-width:500PX)and (max-width:600PX){
  button.align-middle.clear.btn.btn-secondary {
    MARGIN-LEFT: 70%;
    TOP: -40PX;
    POSITION: absolute;
    PADDING:3%;
}
.botones.row {
  margin-left: auto;
}
.css-2b097c-container{
  width:70%;
}
.botones.row {
  margin-left: 25%;
}
button.align-middle.clear.btn.btn-secondary {
  padding:0.1%;
  height: 40px;
  width: 40px;
  font-size: 200%;

}

}